//npm.pkg.github.com/:\_authToken=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
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
